<header class="header">
    <h1>Orders Manager</h1>
    <div class="bar">
        <a href="/">LogIn/LogOut</a>
        <a href="/makeOrder">Make an Odrer</a>
        <a href="/search">View Orders</a>
    </div>
</header>